body {
  display: grid;
  grid-template-areas:
    "filters sorters"
    "map list2 ";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 0;
  grid-gap: 1rem;

  padding: 1rem;
  height: 100vh;
}

#grade-level-select { grid-area: filters; }
#zip-code-select { grid-area: filters; }
#school-map { grid-area: map; }
#school-list { grid-area: list2; }
#HighLight-School { grid-area: list; }

#school-list,#HighLight-School {
  overflow-y: auto;
}

#school-filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#school-map {
  width: 50vw;
  height: 90vh;
}

#school-list {
  min-width: 27vw;
  width: auto;
}

#HighLight-School {
  min-width: 20vw;
  max-width: 35vw;
}

#grade-level-select, #zip-code-select {
  width: 19vw;
}